/*
 Theme Name:   Bricks Child Theme
 Theme URI:    https://bricksbuilder.io/
 Description:  Use this child theme to extend Bricks.
 Author:       Bricks
 Author URI:   https://bricksbuilder.io/
 Template:     bricks
 Version:      1.1
 Text Domain:  bricks
*/

/**
* Hide admin bar from frontend on mobile devices
*/
@media screen and (max-width: 782px) {
    html {
        --wp-admin--admin-bar--height: 0;
        margin-top: 0 !important;
    }

    body.bricks-is-frontend.admin-bar #brx-header.sticky {
        top: 0 !important;
    }

    #wpadminbar {
        display: none !important;
    }
}
